html, body {
    width: auto !important;
    overflow-x: hidden !important;
    font-family: Arial;
    margin: 0%;
    padding: 0%;
    

  }
  



  
  .fluid-container {
     background-color:#ffe0b2;
     height:fit-content;
  }
  
  blockquote {
      border-left: solid #FF9800;
  }


  .row2 .p1 .i1{
    border-radius: 2%;
    width: 100%;
    
  }

h1{
  font-size: 50px;
  filter: drop-shadow(0 0 1.5rem black);
  text-shadow: 4px 4px #DB2B3F;

}

.footer h3{
  text-align: center;

}



  .hh1{
    padding-left: 2%;
    text-align: center;
    
}


  .po1{
    padding-left: 8%;

  }
  .po2{
    padding-left: 6%;
  }
  .c1{
    padding-left: 2%;
  }

  .row .pi1 .im1 {  
    width: 30%;
    height: auto;
    border-radius: 100%;
    border: 5px solid black;
    background-color: aliceblue;
    filter: drop-shadow(0 0 1rem black);
    
    
  
  }
.row .pi1{
  background-color:  #DB2B3F;
  padding: 10px;
  
  
}



  .copyright {
    padding: 30px;
    background: var(--main-color);
    text-align: center;
    color: #201f1f; 
    background-color: #847152;
    
  }

  .footer {
    display: grid;
    place-items: center;
    padding: 15px;
    color: #000;
    background-color: #847152;
    }
                                       
    .footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    color: var(--text-color)
    }
                                       
    .footer-social a i {
    color: rgb(32, 33, 41);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    }


    


circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
    padding-bottom: 300%;
}

.circle-container {
	display: flex; 
	justify-content: center; 
    align-items: center; 
	padding-top: 5px;
	content: 2px;
	margin-top: 5px;
    margin-bottom: 30px;

	
	
}

.circle {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid black;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s;
	box-shadow: 1px 1px 8px 5px #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	padding-bottom: 0%;
	
}

.content h3{
  text-align: center;
  
}

.circle img {
	width: 140%;
	height: 100%;
	object-fit: cover;
}
.circle .circle-image2{
    width: 185%;
    height: 180%;
    object-fit: cover;
  
}

.circle .circle-image3{
  width: 100%;
  height: 110px;
  object-fit: cover;

}

.circle:hover {
	transform: scale(1.1);
}
.name {
	display: none; 
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.text-on-hover {
    display: none;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.circle:hover .text-overlay{
	opacity: 1;
}
.text-overlay {
	font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.7); 
    color: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.circle:hover img {
    transform: scale(1.1); 
    
}